p {
 margin: 0 0 10px 0;
 color: rgba(0, 0, 0, 0.55);
 font-size: 20px;
 font-weight:100;
}

.container {
 max-width: 700px;
 margin: auto;
}

.large-header-box {
  max-width: auto;
  max-height: 50vh;
  padding: 100px;
  background-image: url('./imgs/danica_campaign.jpg');
}

.small-header-box {
 max-width: 350px;
 color: white;
 padding: 75px;
 margin: auto;
 background-color: rgba(0, 175, 242, 0.75);
}

@media screen and (max-width: 500px) {
    h2 {
        font-size:18px;
        margin:10px;
    }

    .small-header-box {
     max-width: 250px;
     color: white;
     background-color: rgba(0, 175, 242, 0.75);
    }
}

.input {
 margin: 10px;
}

button {
 background-color:white;
 font-size: 14px;
 border-weight: 2px;
 border-color: rgba(0, 175, 242, 0.75);
 padding:6px;
 margin: 6px;
 color: rgba(0, 175, 242, 0.75);
 font-weight: 400;
 text-transform: uppercase;
}

.submit-button {
 background-color:white;
 font-size: 14px;
 border-weight: 2px;
 border-color: rgba(0, 175, 242, 0.75);
 padding:6px;
 margin: 6px;
 color: rgba(0, 175, 242, 0.75);
 font-weight: 400;
 text-transform: uppercase;
}

button:hover,
button:active {
  background-color:rgba(0, 175, 242, 0.75);
  font-size: 14px;
  padding:6px;
  margin: 6px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.4s;
}

.submit-button:hover,
.submit-button:active {
  background-color:rgba(0, 175, 242, 0.75);
  font-size: 14px;
  padding:6px;
  margin: 6px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.4s;
}

form {
 margin: 5px;
 color: rgba(0, 0, 0, 0.55);
 font-size: 20px;
 font-weight:100;
 text-align: center;
}

input{
  font-size: 18px;
  font-weight: lighter;
}

a:hover,
a:active {
 color: rgba(0, 0, 0, 0.8);
 transition: 0.6s;
}

a {
 text-align: right;
 color: rgba(0, 0, 0, 0.5);
 font-size: 14px;
 padding: 10px 3px;
 text-transform: uppercase;
 text-decoration: none;
 margin: 25px;
 transition: color 0.5s ease;

}

h1 {
  text-align: center;
  color:rgb(22, 77, 130);
  font-weight: bold;
  font-size: 48px;
}


h2 {
  text-align: center;
  color:rgba(0, 175, 242, 0.75);
  font-weight: bold;
}

.google-map {
  padding: 50px;
}
